#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5em;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-danger {
  justify-content: center;
  margin: 5em;
}

#scoreboard {
  display: flex;
  justify-content: center;
}